/* Default table styles */
.Teachers-table {
    border-collapse: collapse;
    margin: 15px 0; /* Reduce top margin */
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80vw; 
    background-color: white;
    margin-inline: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    
}

.Teachers-table thead tr {
    user-select: none;
    background-color: rgba(14, 14, 14, 0.25);
}

.Teachers-table th,
.Teachers-table td {
    padding: 12px 15px;
    
}

.Teachers-table tbody tr {
    border-bottom: 1px solid rgba(14, 14, 14, 0.5);
    
}

.Teachers-table tbody tr:last-of-type {
    background-color: rgba(14, 14, 14, 0.25);
}

.Teachers-table tbody tr:hover {
    background-color: rgba(14, 14, 14, 0.75);
    transition: background-color .2s ease-in-out;
}

/* Button styles */
.Teachers-table button {
    margin-inline: .25rem;
    padding: 8px 16px;
    background-color: #075b0a;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.Teachers-table button:hover {
    background-color: #45a049;
}

/* Search container styles */
.search-container {
    position: relative;
}

/* Search input styles */
.search-input {
    padding: 2px 36px 8px 12px;
    border-radius: 4px;
    border: 1px solid #6b6363;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .Teachers-table {
        font-size: 0.8em;
        width: min(100%, 100%); 
        margin: 10px 0; 
    }

    .Teachers-table th,
    .Teachers-table td {
        padding: 10px;
    }
}
