worker_processes 4;

events { worker_connections 1024; }

http {

    server {

        listen 80;
        charset utf-8;

        location / {
            proxy_pass http://accademic-service:8006;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }

        location ~ ^/auth-service {
            rewrite ^/auth-service/(.*) /$1 break;
            proxy_pass http://auth-service:8001;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }

        location /user-service {
            rewrite ^/user-service/(.*)$ /$1 break;
            proxy_pass http://user-service:8005;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    

    }
}
   