.users-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: min(90%, 70.5rem);
    margin-inline: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.users-table thead tr {
    user-select: none;
    color: #ffffff;
    background-color: rgba(14, 14, 14, 0.25);
}

.users-table th,
.users-table td {
    padding: 12px 15px;
}

.users-table tbody tr {
    border-bottom: 1px solid rgba(14, 14, 14, 0.5);
}

.users-table tbody tr:nth-of-type(odd) {

}

.users-table tbody tr:last-of-type {
    background-color: rgba(14, 14, 14, 0.25);
}

.users-table tbody tr:hover {
    background-color: rgba(14, 14, 14, 0.75);
    transition: background-color .2s ease-in-out;
}

.users-table button {
    padding: 8px 16px;
    background-color: #007bff; /* Blue for other buttons */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 8px; /* Add margin to create space between buttons */
}

/* Change color for the edit button */
.users-table button.edit {
    background-color: #2c2ca3; /* Light color */
    color: #ece5e5; /* Dark text color */
}

.users-table button:hover {
    background-color: #0056b3; /* Darker Blue for other buttons */
}

.users-table button.edit:hover {
    background-color: #9da2c9; /* Darker light color on hover */
}

.users-table button:disabled {
    background-color: #6c757d; /* Gray */
    cursor: not-allowed;
}
/* Define additional classes for enable and disable buttons */
.users-table button.enabled {
    background-color: #a3332b; /* Light green */
    color: #f3f8f5; /* Dark text color */
}

.users-table button.disabled {
    background-color: #5e8e3f; /* Light red */
    color: #721c24; /* Dark text color */
}
.search-container {
    position: relative;
  }
  
  .search-input {
    padding: 2px 36px 8px 12px; /* Adjust padding to accommodate the icon */
    border-radius: 4px;
    border: 1px solid #6b6363;
    background-repeat: no-repeat;
    background-position: 8px center; /* Adjust the position of the icon */
  }
  
  /* Adjust the size of the icon */
  .search-input {
    background-size: 20px; /* Adjust the size of the icon */
  }
  
  
/* Adjust button styles for different screen sizes */
@media (max-width: 768px) {
    .users-table button {
      padding: 6px 12px;
      font-size: 12px;
      display: block; /* Change to block display for smaller screens */
      margin-bottom: 8px; /* Add margin between buttons for smaller screens */
    }
  }
  